# Use PHP56 as default
# Use PHP56 as default
AddHandler application/x-httpd-php56 .php
# BEGIN custom php.ini PHP56
<IfModule mod_suphp.c>
    suPHP_ConfigPath /home/itoportunidades
</IfModule>

# END custom php.ini
